<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="~{fragments/resources::head}">
	</head>
	<body>
    	<div class="bg-light main-wrapper">
    		<nav th:replace="~{fragments/resources :: navbar}"></nav>
	        <div class="d-flex">
	        	<div th:replace="~{fragments/resources :: sidebar('entities')}"></div>
	        	<div class="main-content bg-lighter">
	        		<div class="row mt-4">
	        			<div class="col">
	        				<div class="box">
	        					<h1 class="fw-bold"><i class="bi bi-question-circle align-middle"></i> 
	        					<span class="align-middle">Help</span></h3>
	        					<p class="mt-3">
	        						If you need help using SnapAdmin, you can read the 
	        						<a href="https://github.com/aileftech/snap-admin">README</a> or the 
	        						<a href="https://snapadmin.dev/docs">Reference Guide</a>.
        						</p>
        						<p>
        						If you don't find an answer to your question, feel free to ask with 
        						<a href="https://github.com/aileftech/snap-admin/issues">an issue on Github</a>.</p>
							</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</body>
</html>
