<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="~{fragments/resources::head}">
	</head>
	<body>
    	<div class="bg-light main-wrapper">
    		<nav th:replace="~{fragments/resources :: navbar}"></nav>
	        <div class="d-flex">
	        	<div th:replace="~{fragments/resources :: sidebar('entities')}"></div>
	        	<div class="main-content bg-lighter">
					<h1 class="fw-bold mb-4"><i class="align-middle bi bi-database"></i><span class="align-middle"> Entities</span></h1>
					<th:block th:if="${!snapadmin_authenticated}">
						<div class="alert alert-danger alert-dismissible fade show" role="alert" id="auth-warning">
							<h4 class="alert-heading fw-bold"><i class="bi bi-exclamation-triangle"></i> SnapAdmin is not protected</h4>
							<p class="mb-0">It appears that you have not enabled security so SnapAdmin is publicly accessible. Please refer to the
								documentation to learn how to <a href="https://www.snapadmin.dev/docs/#security">protect SnapAdmin with Spring Security.
								</a>
							</p>
							<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
						</div>
					</th:block>
					<form th:action="|/${snapadmin_baseUrl}|" method="GET">
    					<div class="input-group">
    						<input type="text" th:value="${query}"
    						placeholder="Type a class or a table name and press ENTER to search" 
    						class="ui-text-input form-control" name="query" autofocus>
    						<button class="ui-btn btn btn-primary">Search</button>
    					</div>
    				</form>
	        		<div class="row mt-4">
	        			<div class="col">
	        			
	        				<div class="box">
	        					<th:block th:each="package : ${schemas.keySet()}">
	        						<h4 class="fw-bold">
	        							<i class="bi bi-box align-middle"></i> [[ ${package} ]]
	        						</h4>
		        					<table class="table table-striped mt-4 mb-3" th:if="${!schemas.isEmpty()}">
			        					<tr>
			        						<th></th>
			        						<th>Table</th>
			        						<th>Rows</th>
			        						<th>Java class</th>
			        						<th></th>
			        					</tr>
			        					<tr th:each="schema : ${schemas.get(package)}">
			        						<td class="warning-col">
			        							<a th:if="${!schema.getErrors().isEmpty()}"
			        								title="Some errors or warnings were raised while processing this table."
			        								th:href="|/${snapadmin_baseUrl}/model/${schema.getClassName()}/schema|">
			        								<i class="bi bi-exclamation-triangle"></i></a>
			        						</td>
			        						<td>
												<a th:text="${schema.getTableName()}"
												th:href="|/${snapadmin_baseUrl}/model/${schema.getClassName()}|"></a>
											</td>
											<td>
												<span th:text="${counts.get(schema.getClassName())}"></span>
											</td>
											<td>
												<span th:text="${schema.getClassName()}"></span>
											</td>
											<td class="text-end row-icons">
												<a title="List all" th:href="|/${snapadmin_baseUrl}/model/${schema.getClassName()}|"><i class="bi bi-list"></i></a>
												<a  th:title="|${!schema.isCreateEnabled() ? 'CREATE disabled for this type' : 'Create new item'}|" 
													th:class="|${!schema.isCreateEnabled() ? 'disable' : ''}|" 
													th:href="|/${snapadmin_baseUrl}/model/${schema.getClassName()}/create|"><i class="bi bi-plus-square"></i>
												</a>
											</td>
										</tr>
									</table>
								
									<div class="p-0 m-0" th:if="${schemas.isEmpty()}">
										<p>No entities have been loaded from Java classes.</p>
										
										<ul class="mt-3">
											<li>Make sure you are initializing Snap Admin correctly and double check
											that the package you have set in your <code>application.properties</code> is correct.</li>
											<li>Check that the Java classes in the package have been correctly marked with 
											the <code>@Entity</code> annotation.</li> 
										</ul>
									</div>
								</th:block>
							</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</body>
</html>
