<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head></head>
	<body>
		<tr th:fragment="data_row(row)" class="table-data-row">
			<td th:each="field : ${row.getSortedFields()}"
				th:classAppend="${field.isBinary() ? 'text-center' : ''}">
				<th:block th:replace="~{fragments/generic_data_row :: data_row_field(field=${field}, object=${row})}"></th:block>
			</td>
		</tr>
		
		
		<!-- data-row-field fragment -->
		<th:block th:fragment="data_row_field(field, object)">
			<th:block th:if="${field.isBinary()}">
				<th:block th:if="${object.get(field)}">
					<span class="font-monospace null-label">BINARY</span>
				</th:block>
			</th:block>
			<th:block th:if="${!field.isBinary()}">
				
				<span th:if="${object.get(field) != null}" th:text="${object.get(field)}"></span>
				<span th:if="${object.get(field) == null}" class="null-label font-monospace">NULL</span>
			</th:block>
		</th:block>
		<!-- end data-row-field fragment -->
	</body>
</html>




