<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="~{fragments/resources::head}">
	</head>
	<body>
    	<div class="bg-light main-wrapper">
    		<nav th:replace="~{fragments/resources :: navbar}"></nav>
	        <div class="d-flex">
	        	<div th:replace="~{fragments/resources :: sidebar('console')}"></div>
	        	<div class="main-content bg-lighter">
					<h1 class="fw-bold mb-4"><i class="align-middle bi bi-terminal"></i><span class="align-middle"> SQL console</span></h1>
	        		<div class="row mt-4">
	        			<div class="col">
							<div class="w-100 d-flex inner-navigation">
	    						<a th:each="query : ${tabs}" th:href="|/${dbadmin_baseUrl}/console/run/${query.getId()}|"
	    							class="d-inline-block"
	    							th:classAppend="${query.getId() == activeQuery.getId() ? 'active' : ''}">
		    						<div class="ui-tab ps-5 pe-5 p-3">
		    							<i class="bi bi-filetype-sql pe-2"></i>
		    							<span th:text="${query.getTitle()}"></span>
		    						</div>
		    					</a>
		    					<div class="inner-navigation-border flex-grow-1 align-items-center d-flex">
									<h3 class="ms-3 mt-0 mb-0">
										<a th:href="|/${dbadmin_baseUrl}/console/new|">
											<i class="bi bi-plus-square-fill align-middle"></i>
										</a>
									</h3>
		    					</div>
	    					</div>
							<div class="box with-navigation">
	        					<form th:action="|/${dbadmin_baseUrl}/console/run/${activeQuery.getId()}|" method="GET">
									<input type="text" class="form-control mb-3" 
									 		name="queryTitle" th:value="${activeQuery.getTitle()}">
		        					<textarea class="form-control" rows="6" name="query"
		        						th:text="${activeQuery.getSql()}"></textarea>
		        					<input class="ui-btn btn btn-primary mt-3" type="submit" value="Run">
	        					</form>
	        					
	        					<div th:if="${error == null && activeQuery.getSql() != null}">
									<div class="separator mt-3 mb-3"></div>
	        						<div th:replace="~{fragments/generic_table :: table(results=${results})}"></div>
	        					</div>
	        					<div th:if="${error != null}">
									<div class="separator mt-3 mb-3"></div>
	        						<th:block th:replace="~{fragments/resources :: alerts}"></th:block>
	        					</div>
							</div>
	        			</div>
	        		</div>
	        	</div>
	        </div>
	    </div>
	</body>
</html>
