<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head th:replace="~{fragments/resources::head}">
	</head>
	<body>
		<div class="bg-light main-wrapper">
			<nav th:replace="~{fragments/resources :: navbar}"></nav>
		    <div class="d-flex">
		    	<div th:replace="~{fragments/resources :: sidebar('entities')}"></div>
		    	<div class="main-content bg-lighter">
		    		<th:block th:replace="~{fragments/resources :: alerts}"></th:block>
					<h1 class="fw-bold mb-4"><i class="align-middle bi bi-database"></i>
						<span class="align-middle"><a href="/dbadmin">Entities</a></span> 
						<i class="align-middle bi bi-chevron-double-right"></i> 
						<span class="align-middle"> [[ ${schema.getJavaClass().getSimpleName()} ]] </span>
					</h1>
		    		<div class="row mt-4">
		    			<div th:class="${schema.getFilterableFields().isEmpty() ? 'col' : 'col-9'}">
	    					<div class="w-100 d-flex inner-navigation">
	    						<a th:href="|/dbadmin/model/${className}|" class="active">
		    						<div class="ui-tab ps-5 pe-5 p-3">
		    							<i class="bi bi-database pe-2"></i> DATA
		    						</div>
		    					</a>
		    					<a th:href="|/dbadmin/model/${className}/schema|">
		    						<div class="ui-tab ps-5 pe-5 p-3">
		    							<i class="bi bi-table pe-2"></i> SCHEMA
		    						</div>
		    					</a>
		    					<div class="inner-navigation-border flex-grow-1">
		    					</div>
	    					</div>
							<div class="box with-navigation">
								<form th:action="|/dbadmin/model/${className}|" method="GET" class="mb-3">
			    					<div class="input-group">
			    						<span class="input-group-text"><i class="bi bi-search"></i></span>
			    						<input type="text" th:value="${query}"
			    						placeholder="Type and press ENTER to search" 
			    						class="ui-text-input form-control" name="query" autofocus>
			    						<button class="ui-btn btn btn-primary">Search</button>
			    					</div>
			    				</form>
								<div class="separator mb-4 mt-4"></div>
							
		    					<div class="d-flex justify-content-between">
		    					
		    					
									<h3 class="fw-bold mb-4 align-baseline w-100">
										<span title="Java class name"> [[ ${schema.getJavaClass().getSimpleName()} ]] </span>
										<span title="Database table name" class="ms-3 label label-primary label-gray font-monospace">
											[[ ${schema.getTableName()} ]]
										</span>
										
										
										 
									</h3>
									<h3><a title="Create new item" 
										th:href="|/dbadmin/model/${schema.getClassName()}/create|"><i class="bi bi-plus-square"></i></a></h3>
								</div>
								
								<div th:replace="~{fragments/table_selectable :: table(results=${page.getResults()}, schema=${schema})}">
								</div>
							</div>
		    			</div>
		    			<div th:if="${!schema.getFilterableFields().isEmpty()}" class="col-3">
							<div class="box">
								<h3 class="fw-bold mb-3"><i class="bi bi-funnel"></i> Filters</h3>
								
								<div th:each="field : ${schema.getFilterableFields()}">
									<div class="card mb-3 cursor-pointer">
										<div class="card-header">
											<i class="bi bi-caret-right"></i> <span class="fw-bold" th:text="${field.getName()}"></span>
										</div>
										
										<div class="card-body d-none">
											<th:block th:if="${field.getConnectedType() != null}">
												<div th:each="val : ${schema.getFieldValues(field)}">
													<span th:text="${val}"></span>
												</div>
											</th:block>
										</div>
									</div>
								
								</div>
							</div>
						</div>
		    		</div>
		    	</div>
		    </div>
		</div>
		
	</body>
</html>